<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 Wagento. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sponsors>
            <general>
                <enabled>0</enabled>
                <headline>Sponsors</headline>
            </general>
            <toplink>
                <enabled>0</enabled>
                <title>Sponsors</title>
            </toplink>
            <topmenu>
                <enabled>0</enabled>
                <title>Sponsors</title>
                <frontend_url_path>sponsors</frontend_url_path>
            </topmenu>
        </sponsors>
    </default>
</config>