<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Checkout\Controller\Cart\Index">
		<plugin disabled="false" name="TicketsPlugin" sortOrder="10" type="Pengo\Tickets\Plugin\TicketsPlugin"/>
	</type>
</config>
