<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 Wagento. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="wagento" translate="label" sortOrder="1000">
            <label>Wagento</label>
        </tab>
        <section id="ajaxcategory" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Ajax Category Redirect</label>
            <tab>wagento</tab>
            <resource>Wagento_AjaxCategory::config</resource>
            <group id="category" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Category Redirect</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="category_redirect" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Category Redirect Url</label>
                    <frontend_model>Wagento\AjaxCategory\Block\Adminhtml\Form\Field\CategoryRedirectField</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
